{% extends "base.html" %}

{% block content %}
<style>
    body {
        background-image: linear-gradient(#fff, #eedcff);
        background-attachment: fixed;
    }
</style>
<section id="404">
    <div class="container text-center">
        <img src="../static/images/sad-face.svg" height="250px">
        <div class="display-1 pt-3">Oh dear!</div>
        <div class="display-6 pt-4 pb-2">You're not authorised to be on this page</div>
        <!-- <p class="pb-3 lead">Please make sure that you're logged in and that your browser has cookies enabled.</p> -->
    </div>
</section>
{% endblock %}