{% extends "base.html" %}

{% block content %}
<style>
    body {
        background-image: linear-gradient(#fff, #eedcff);
        background-attachment: fixed;
    }
</style>
<section id="forgotten-password">
    <div class="container text-center p-5" style="max-width: 600px;">
        <img src="../static/images/reset-password.svg" alt="Reset password icon" style="height: 200px;">
        <!-- <h2 class="display-6 my-3">Forgotten your password?</h2> -->
        <p class="lead">Enter your email to get a link to change your password.</p>
        
        <form action="/forgotten-password-email" method="POST" class="row g-3">
            <input class="form-control-lg" type="text" placeholder="Email" required name="email" maxlength="320" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" autocomplete="email" autofocus>
            <br>
            <button class="btn btn-primary btn-lg" style="background-color: #330066;" type="submit">Confirm</button>
        </form>
    </div>
</section>
{% endblock %}